.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    color: white;
    background-color: var(--slack-color);
}
.header__left {
    display: flex;
    flex: 0.3;
    margin-left: 20px;
    align-items: center;
}

.header__left > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
}

.header__search {
    flex: 0.4;
    display: flex;
    background-color: #421f44;
    text-align: center;
    padding: 0 50px;
    color: grey;
    border: 1px grey soild;
    border-radius: 6px;
}

.header__search > input {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
    outline: none;
    font-size: 14px;
}

.header__search > input.search-query {
    color:white;
}

.header__right {
    flex: 0.3;
    display: flex;
    align-items: flex-end;

}

.header__avatar {
    padding: 0;
}

.header__right > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}
